<!DOCTYPE html>
<html class="root61">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate">
    <title>收货信息</title>

    <link href='/static/home/css/jd-reg.css' type='text/css' rel='stylesheet' >     
    </head>
<body>
<div class="header">
    <div class="logo-con w clearfix">
        <a href="" class="logo">
        </a>
        <div class="logo-title">收 货 信 息</div>
        <div class="have-account">已有账号 <a href="">请登录</a></div>
    </div>

</div>
<div class="container w">

    <div class="main clearfix">
        <div class="reg-form fl">
            <form action="/orders/commit" id="register-form" method="post" novalidate="novalidate" style="width:500px;">

                <div class="form-item form-item-account" id="form-item-account">
                    <label>收　货　人</label>
                   <input type="text" id="form-account" style="" name="rec" class="field" autocomplete="off" maxlength="20" placeholder="收货人姓名" value="{:session('orders.rec')}" default="&lt;i class=&quot;i-def&quot;&gt;&lt;/i&gt;支持中文、字母、数字、“-”“_”的组合，4-20个字符">
                    <i class="i-status"></i>
                </div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div class="form-item">
                    <label>联 系 电 话</label>
                    
                    <input type="text" name="tel" id="form-pwd" class="field" maxlength="20" placeholder="联系电话" >
                    <i class="i-status"></i>
                <div class="capslock-tip tips">大写已开启<b class="arrow"></b><b class="arrow-inner"></b></div><div class="capslock-tip tips">大写已开启<b class="arrow"></b><b class="arrow-inner"></b></div></div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div class="form-item" style="width:500px;">
                    <label>收 货 地 址</label>
                    
                  <input type="text" name="addr"   id="form-equalTopwd" class="field" placeholder="收货的具体地址" maxlength="120" default="&lt;i class=&quot;i-def&quot;&gt;&lt;/i&gt;请再次输入密码">
                    <i class="i-status"></i>
              
                </div>
                <div class="input-tip">
                    <span></span>
                </div>
                <div class="form-item" style="width:500px;">
                    <label>买 家 留 言</label>
                    
                  <input type="text" name="umsg"   id="form-equalTopwd" class="field" placeholder="" maxlength="120" default="&lt;i class=&quot;i-def&quot;&gt;&lt;/i&gt;请再次输入密码">
                    <i class="i-status"></i>
              
                </div>
              
                              
                                 
                  
                    
                
                <div class="form-agreen">
                    <div></div>
                    <div class="input-tip">
                        <span></span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn-register">提交信息</button>
                </div>
            </form>
        </div>
       
    </div>
  
</div>
<div class="footer w">
    <div class="links">
        <a rel="nofollow" target="_blank" href="https://www.jd.com/intro/about.aspx"> 关于我们</a>|
        <a rel="nofollow" target="_blank" href="https://www.jd.com/contact/">联系我们</a>|
        <a rel="nofollow" target="_blank" href="https://zhaopin.jd.com/">人才招聘</a>|
        <a rel="nofollow" target="_blank" href="https://www.jd.com/contact/joinin.aspx">商家入驻</a>|
        <a rel="nofollow" target="_blank" href="https://www.jd.com/intro/service.aspx">广告服务</a>|
        <a rel="nofollow" target="_blank" href="https://app.jd.com/">手机京东</a>|
        <a target="_blank" href="https://club.jd.com/links.aspx">友情链接</a>|
        <a target="_blank" href="https://media.jd.com/">销售联盟</a>|
        <a href="https://club.jd.com/" target="_blank">京东社区</a>|
        <a href="https://gongyi.jd.com/" target="_blank">京东公益</a>|
        <a target="_blank" href="https://en.jd.com/" clstag="pageclick|keycount|20150112ABD|9">English Site</a>
    </div>
    <div class="copyright">
        Copyright&#169;2004-2016&nbsp;&nbsp;京东JD.com&nbsp;版权所有
    </div>
</div>

    
  
    



</body></html>